<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.ync.project.mapper.categoryMapper">

	<insert id="bigcreate">
        INSERT INTO TC_P_BIG(P_BIG, P_BIG_NAME)
        VALUES (#{pBig}, #{pBigName})
    </insert>
    
    <insert id="middlecreate">
        INSERT INTO TC_P_MIDDLE(P_BIG, P_MIDDLE, P_MIDDLE_NAME)
        VALUES (#{pBig},#{pMiddle}, #{pBigName})
    </insert>
    
    
    <select id="listAll" resultType="CategoryBigVO">
	<![CDATA[
	SELECT 	P_BIG, P_BIG_NAME
	FROM 	TC_P_BIG
	ORDER BY P_BIG
	]]>  
	</select>
	
	<select id="mlistAll" resultType="CategoryMiddleVO">
	<![CDATA[
	SELECT 	P_BIG, P_BIG_NAME
	FROM 	TC_P_BIG
	ORDER BY P_BIG
	]]>  
	</select>
	    

<select id="read" resultType="CategoryBigVO">
	SELECT 	P_BIG,
			P_BIG_NAME
	FROM 	TC_P_BIG
	WHERE	P_BIG = #{P_BIG}
</select>
    
</mapper>