<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.ync.project.mapper.categoryMapper">

	<!-- 대분류 카테고리 생성 -->
	<insert id="createCategoryBig">
		INSERT INTO TC_P_BIG(P_BIG, P_BIG_NAME)
		VALUES (#{pBig}, #{pBigName})
	</insert>

	<!-- 대분류 카테고리 리스트 -->
	<select id="BiglistAll" resultType="CategoryBigVO">
	<![CDATA[
	SELECT 	P_BIG, P_BIG_NAME
	FROM TC_P_BIG
	WHERE P_BIG > 0
	ORDER BY P_BIG DESC
	]]>
	</select>
	
	<!-- 대분류 카테고리 상세 -->
	<select id="readCategoryBig" resultType="CategoryBigVO">
		SELECT P_BIG, P_BIG_NAME
		FROM TC_P_BIG
		WHERE P_BIG = #{P_BIG}
	</select>
	
	<!-- 대분류 카테고리 수정 -->
	<update id="updateCategoryBig">
		UPDATE TC_P_BIG SET P_BIG_NAME = #{pBigName}
		WHERE P_BIG = #{pBig}
	</update>
	
	<!-- 대분류 카테고리 삭제 -->
	<delete id="deleteCategoryBig">
		delete from TC_P_BIG where P_BIG = #{pBig}
	</delete>
	

	<select id="flistAll" resultType="AnoticeVO">
	<![CDATA[
	SELECT 	N_CODE, N_TITLE, N_UP_DATE
	FROM TC_NOTICE
	WHERE N_CODE > 0
	ORDER BY N_CODE DESC
	]]>
	</select>





	<insert id="middlecreate">
		INSERT INTO TC_P_MIDDLE(P_BIG, P_MIDDLE,
		P_MIDDLE_NAME)
		VALUES (#{pBig},#{pMiddle}, #{pBigName})
	</insert>


	<select id="listAll" resultType="CategoryBigVO">
	<![CDATA[
	SELECT 	P_BIG, P_BIG_NAME
	FROM 	TC_P_BIG
	ORDER BY P_BIG
	]]>
	</select>

	<select id="mlistAll" resultType="CategoryMiddleVO">
	<![CDATA[
	SELECT 	P_BIG, P_BIG_NAME
	FROM 	TC_P_BIG
	ORDER BY P_BIG
	]]>
	</select>


	<select id="read" resultType="CategoryBigVO">
		SELECT P_BIG,
		P_BIG_NAME
		FROM
		TC_P_BIG
		WHERE P_BIG = #{P_BIG}
	</select>

</mapper>