<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.ync.project.mapper.MLevelMapper">

	<insert id="createMLevel" >  
	<!-- parameterType="kr.ync.project.domain.EventVO" -->
	 
        INSERT INTO TC_LEVEL(
            LEVEL_CODE,
            L_NAME,
            L_POINT
        )VALUES(
            #{mlCode, jdbcType=INTEGER},
            #{lName, jdbcType=VARCHAR},
            #{lPoint, jdbcType=INTEGER}
        )
    </insert>		
    
    <select id="listAll" resultType="MLevelVO">
	<![CDATA[
	SELECT 	LEVEL_CODE,
			L_NAME,
			L_POINT
	FROM TC_LEVEL
	]]>  
	</select>

	 <select id="read" resultType="MLevelVO">
		SELECT 	LEVEL_CODE,
				L_NAME,
				L_POINT
		FROM TC_LEVEL
		WHERE	LEVEL_CODE = #{LEVEL_CODE}
	</select>

<update id="updateMLelvel">
	UPDATE TC_LEVEL SET L_NAME = #{lName}, L_POINT = #{lPoint}
	WHERE LEVEL_CODE = #{mlCode}
</update>


<delete id="deleteMLelvel">
	delete from TC_LEVEL where LEVEL_CODE = #{mlCode}
</delete>

<!-- <select id="listPage" resultType="MLelvelVO">
	<![CDATA[
	SELECT 	N_CODE, N_TITLE, N_UP_DATE
	FROM TC_NOTICE
	WHERE N_CODE > 0
	ORDER BY N_CODE DESC, N_UP_DATE DESC
	limit #{page}, 10
	]]>
</select>
 
 
<select id="listCriteria" resultType="MLelvelVO">
	<![CDATA[
	SELECT 	N_CODE, N_TITLE, N_UP_DATE
	FROM TC_NOTICE
	WHERE N_CODE > 0
	ORDER BY N_CODE DESC,N_UP_DATE DESC
	limit #{pageStart}, #{perPageNum}
	]]>
</select> -->
</mapper>


