<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.ync.project.mapper.MLevelMapper">

	<!-- 회원 등급 등록 -->
	<insert id="createMLevel">
		<!-- parameterType="kr.ync.project.domain.EventVO" -->

		INSERT INTO TC_LEVEL(
		LEVEL_CODE,
		L_NAME,
		L_POINT
		)VALUES(
		#{mlCode, jdbcType=INTEGER},
		#{lName, jdbcType=VARCHAR},
		#{lPoint, jdbcType=INTEGER}
		)
	</insert>

	<!-- 회원 등급 목록 -->
	<select id="listAll" resultType="MLevelVO">
	<![CDATA[
	SELECT 	LEVEL_CODE,
			L_NAME,
			L_POINT
	FROM TC_LEVEL
	ORDER BY L_POINT
	]]>
	</select>

	<!-- 회원 등급 상세 -->
	<select id="read" resultType="MLevelVO">
		SELECT LEVEL_CODE,
		L_NAME,
		L_POINT
		FROM TC_LEVEL
		WHERE LEVEL_CODE = #{mlCode}

	</select>

	<!-- 회원 등급 등록 -->
	<update id="updateMLelvel">
		UPDATE TC_LEVEL SET L_NAME = #{lName}, L_POINT =
		#{lPoint}
		WHERE LEVEL_CODE = #{mlCode}
	</update>

	<!-- 회원 등급 삭제 -->
	<delete id="deleteMLelvel">
		delete from TC_LEVEL where LEVEL_CODE = #{mlCode}
	</delete>


</mapper>


