<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.ync.project.mapper.ProductMapper">

	<!-- 상품 전체 목록 -->
	<select id="list" parameterType="hashMap" resultType="ProductVO">
		SELECT A.P_NAME
			  ,A.PRICE
			  ,A.SALE_PRICE
			  ,A.STOCK
			  ,A.P_POINT
			  ,A.P_DETAIL
			  ,A.P_SMALL
			  ,A.P_BIG
			  ,A.P_MIDDLE
			  ,A.E_NUM
			  --,A.SIZE
			  ,A.P_CODE
			  ,B.P_IMAGE_SRC
		 FROM TC_PRODUCT A
			 ,TC_P_FILE  B
		WHERE A.P_CODE = B.P_CODE
		
		</select>

	
	<!-- 상품 상세 -->
	<select id="detailProduct" resultType="productVO">
		SELECT	p_name,
				price,
				sale_price,
				stock,
				p_point,
				p_detail,
				p_small,
				p_middle,
				p_big,
				e_num,
				size_s,
				size_m,
				size_l,
				p_code
		FROM	tc_product
		WHERE   p_code = #{p_code}
	</select>


	<insert id="insert">
		INSERT INTO TC_PRODUCT (P_CODE, P_NAME, PRICE, STOCK)
		VALUES (#{P_CODE}, #{P_NAME}, #{PRICE}, #{STOCK})
	</insert>

	<update id="update">
		UPDATE tbl_reply SET replytext = #{replytext},
		updatedate = SYSDATE
		WHERE rno = #{rno}
	</update>

	<delete id="delete">
		DELETE
		FROM tbl_reply
		WHERE rno = #{rno}
	</delete>

</mapper>