<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.ync.project.mapper.AnoticeMapper">

<select id="listAll" resultType="AnoticeVO">
	<![CDATA[
	SELECT 	N_CODE,
			N_TITLE,
			N_UP_DATE
	FROM TC_NOTICE
	]]>  
</select>


<insert id="insert">
	INSERT INTO TC_NOTICE (N_CODE, N_TITLE, N_CONTENTS) 
	VALUES(TC_SEQ_NOTICE.NEXTVAL, #{N_TITLE},#{N_CONTENTS})
</insert>

<select id="read" resultType="AnoticeVO">
	SELECT 	N_CODE,
			N_TITLE,
			N_CONTENTS,
			N_UP_DATE
	FROM TC_NOTICE
	WHERE	N_CODE = #{N_CODE}
</select>
 
</mapper>
