<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.ync.project.mapper.AuserMapper">

	<!--  관리자 로그인 --> 
	<select id="alogin" resultType="AUserVO">
		SELECT	A_ID,
				A_PWD
		FROM	TC_ADMIN
		WHERE	A_ID = #{aID}
		AND		A_PWD = #{aPWD}
	</select>
  
 	 <!--  관리자 로그인 유지 --> 
	<update id="keepALogin" >
		UPDATE TC_ADMIN SET 	sessionKey = #{sessionId},
	  							sessionLimit = #{next}
		WHERE A_ID = #{aID}
	</update>

	<!--  관리자 로그인 확인 --> 
	<select id="checkAUserWithSessionKey" resultType="AUserVO">
		SELECT 	*
		FROM	TC_ADMIN
		WHERE	sessionKey = #{value}
		AND		sessionlimit > SYSDATE
	</select>
	
	<!-- 어드민 - 회원관리 (멤버 리스트) -->
	<select id="userlist" resultType="UserVO">
		SELECT	M_ID,
				M_PWD,
				M_NAME
		FROM	TC_MEMBER
	</select>
	
	<!-- 어드민 - 회원 상세 -->
	<select id="readMember" resultType="UserVO">
		SELECT 	*
		FROM 	TC_MEMBER
		WHERE	M_ID = #{mId}
	</select>

	<!-- 어드민 - 회원 삭제 -->
	<delete id="deleteMember">
	delete from TC_MEMBER where M_ID = #{mId}
	</delete>

</mapper>


