<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.ync.project.mapper.CategoryMapper">

	<insert id="bigcreate">
        INSERT INTO TC_BIG(P_BIG, P_BIG_NAME)
        VALUES (#{P_BIG}, #{P_BIG_NAME})
    </insert>
    
    
    <select id="listAll" resultType="CategoryBigVO">
	<![CDATA[
	SELECT 	P_BIG, P_BIG_NAME
	FROM TC_P_BIG
	]]>  
</select>
    
</mapper>