<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.ync.project.mapper.ProductMapper">

	<!-- 상품 전체 목록 -->
	<select id="list" parameterType="hashMap" resultType="ProductVO">
		SELECT
		A.P_NAME
		,A.PRICE
		,A.SALE_PRICE
		,A.STOCK
		,A.P_POINT
		,A.P_DETAIL
		,A.P_SMALL
		,A.P_BIG
		,A.P_MIDDLE
		,A.P_SIZE
		,A.P_CODE
		,B.P_IMAGE_SRC
		FROM TC_PRODUCT A
		,TC_P_FILE B
		WHERE A.P_CODE = B.P_CODE

	</select>


	<!--상세보기용 -->
	<select id="read" parameterType="hashMap" resultType="productVO">


		SELECT
		A.P_NAME
		,A.PRICE
		,A.SALE_PRICE
		,A.STOCK
		,A.P_POINT
		,A.P_DETAIL
		,A.P_SMALL
		,A.P_BIG
		,A.P_MIDDLE
		,A.P_SIZE
		,A.P_CODE
		,B.P_IMAGE_SRC
		FROM TC_PRODUCT A
		,TC_P_FILE B
		WHERE A.P_CODE = B.P_CODE
		AND A.P_CODE = #{A.P_CODE}

	</select>

	<!-- 베스트 상품 목록 -->
	<select id="best" parameterType="hashMap" resultType="ProductVO">
		SELECT
		A.P_NAME
		,A.PRICE
		,A.SALE_PRICE
		,A.STOCK
		,A.P_POINT
		,A.P_DETAIL
		,A.P_SMALL
		,A.P_BIG
		,A.P_MIDDLE
		,A.P_SIZE
		,A.P_CODE
		,A.P_MAIN
		,B.P_IMAGE_SRC
		FROM TC_PRODUCT A
		,TC_P_FILE B
		WHERE A.P_MAIN like '베스트'
		AND A.P_CODE = B.P_CODE
	</select>







	<!-- admin -->

	<!-- 상품 목록 -->
	<select id="listAll" resultType="ProductVO">
	<![CDATA[
	SELECT P_NAME,PRICE,STOCK,P_SMALL,P_BIG,P_MIDDLE,P_CODE
	FROM TC_PRODUCT 
	]]>
	</select>

	<!-- 상품 상세 -->
	<select id="readProduct" parameterType="hashMap" resultType="productVO">

		SELECT
		A.P_NAME
		,A.PRICE
		,A.SALE_PRICE
		,A.STOCK
		,A.P_POINT
		,A.P_DETAIL
		,A.P_SMALL
		,A.P_BIG
		,A.P_MIDDLE
		,A.P_SIZE
		,A.P_CODE
		,B.P_IMAGE_SRC
		FROM TC_PRODUCT A
		,TC_P_FILE B
		WHERE A.P_CODE = B.P_CODE
		AND A.P_CODE = #{A.P_CODE}

	</select>

</mapper>