<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.ync.project.mapper.QnaMapper">

<select id="listAll" resultType="QnaVO">

SELECT  	Q.Q_NUM,
			Q.Q_TITLE,
			Q.Q_CONTENTS,
			Q.Q_UP_DATE,
			Q.Q_CHECK,
			M.M_ID,
			Q.Q_CATEGORY_NUM
	FROM TC_MEMBER M,
		 TC_QNA Q
	WHERE M.M_ID = Q.M_ID


</select>
 
</mapper>
