<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.ync.project.mapper.TestMapper">

<select id="listAll" resultType="TestVO">
	<![CDATA[
	SELECT 	R_NUM,
			R_TITLE,
			R_CONTENTS
	FROM TC_REVIEW 
	]]>  
</select>
 
</mapper>
