<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.ync.project.mapper.ProductMapper">

	<!-- 상품 전체 목록 -->
	<select id="list" resultType="ProductVO">
		SELECT	p_idx,
				p_name,
				price,
				p_detail,
				p_code
		FROM	tc_product
		ORDER BY p_name
	</select>
	
	<!-- 상품 상세 -->
	<select id="detailProduct" resultType="ProductVO">
		SELECT	p_name,
				price,
				sale_price,
				stock,
				p_point,
				p_detail,
				p_small,
				p_middle,
				p_big,
				e_num,
				size_s,
				size_m,
				size_l,
				p_code,
				p_idx
		FROM	tc_product
		WHERE   p_idx = #{p_idx}
	</select>


	<insert id="create">
		INSERT INTO tc_product (p_idx, p_name, replytext, replyer)
		VALUES (SEQ_REPLY.NEXTVAL, #{bno},#{replytext},#{replyer})
	</insert>

	<update id="update">
		UPDATE tbl_reply SET replytext = #{replytext},
		updatedate = SYSDATE
		WHERE rno = #{rno}
	</update>

	<delete id="delete">
		DELETE
		FROM tbl_reply
		WHERE rno = #{rno}
	</delete>

</mapper>