<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.ync.project.mapper.userMapper">

	<select id="login" resultType="UserVO">
		SELECT	M_ID,
				M_PWD
		FROM	TC_MEMBER
		WHERE	M_ID = #{mId}
		AND		M_PWD = #{mPwd}
	</select>
	
	<update id="keepLogin" >
		UPDATE TC_MEMBER SET 	sessionKey = #{sessionId},
	  							sessionLimit = #{next}
		WHERE M_ID = #{mId}
	</update>

	<select id="checkUserWithSessionKey" resultType="UserVO">
		value는 loginCookie에 저장된 session 값
		SELECT 	*
		FROM	TC_MEMBER
		WHERE	sessionKey = #{value}
		AND		sessionlimit > SYSDATE
	</select>
	
	

</mapper>


